.DS_Store
**/.DS_Store
.idea/*
.osp/*

upload
upload/*

bitrix/php_interface/dbconn.php
bitrix/php_interface/dbconn.local.php
bitrix/.settings.php
bitrix/managed_cache/*
bitrix/backup/*
bitrix/cache/*
bitrix/stack_cache/*
bitrix/html_pages/*
bitrix/catalog_export/*
bitrix/license_key.php

.htaccess

# Импорт/дамп (не для git)
1.xml
1_files/

yandex_*
google*
mailru-*
cmsmagazine*
*.log
*.tar
*.tar.gz
*.zip
*.sql
*.sql.gz
email_log.txt
php_errors.log

bitrix/modules/ui/.idea/
