.my-info {
    background-color: #FAFAFA;
    padding: 32px 30px 20px;
    max-width: 680px;
    margin: 30px auto 50px auto;
}
.my-info li {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 26px;
    position: relative;
}
.my-info .cz-wrap-error{
    position: absolute;
    right: 0;
    bottom: -7px;
    width: 70%;
}
.my-info li>input {
    padding-left: 5px;
    border: 1px solid #D7D7D7;
    height: 32px;
    width: 70%
}
.my-info li.is-radio p:first-child,
.my-info li.my-birthday .my-month,
.my-info li.my-birthday .my-year {
    width: 30%
}
.my-info li.is-radio {
    -ms-flex-pack: start;
    justify-content: flex-start
}
.my-info li.is-radio .is-radio-btns {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
    justify-content: flex-start
}
.my-info li.my-birthday {
    display: -ms-flexbox;
    display: flex
}
.my-info li.my-birthday p {
    -ms-flex-pack: start;
    justify-content: flex-start;
    width: 30%;
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%
}
.my-info li p{
    margin: 0;
}
.my-info li.my-birthday p:last-child {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-preferred-size: 70%;
    flex-basis: 70%
}
.my-info li.my-birthday p:last-child select {
    border: 1px solid #909090;
    border-radius: 3px;
    padding: 5px;
    color: #909090
}
.my-info .my-info-change,
.my-pass .my-pass-change{
    display: block;
    width: 240px;
    height: 40px;
    font-family: "Roboto-Bold";
    font-size: 16px;
    color: #637378;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 40px;
    text-align: center;
    background: #f0f2f2;
    border-radius: 10px 0 10px 0;
    border: 1px solid #bcc4c6;
    padding: 0;
    margin: 0 auto;
}
.my-info .my-info-change:hover {

}
.my-pass {
    padding: 30px 30px 5px;
    max-width: 680px;
    background-color: #FAFAFA;
    margin: 26px auto 47px auto;
}
.my-pass li {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 28px
}
.my-pass li>p {
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
}
.txt-simple .my-pass p:last-of-type {
    margin-bottom: 0;
}
.my-pass li>input {
    padding-left: 5px;
    border: 1px solid #D7D7D7;
    height: 37px;
    width: 70%
}
.change-pass-caption{
    text-align: center;
} 
